{
    "HOST": "127.0.0.1:8000",
    "SECRET_KEY": "",
    "DEBUG": true,
    "SQLITE_OPTS": {
        "DB_PATH": "./APPNAME.db",
        "MIGRATIONS_DIR": "file://pkg/stores/sqlite/migrations"
    }
}